*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-base: #330055;
    --clr-secondary: #DD00FF;
    --clr-accent: #670aa5;
    --clr-white1: white;
    --clr-black1: black;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(320px, 100vw, 100%);
    gap: 0.2rem;
    min-height: 100dvh;
    height: auto;
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.25'%3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

.main_container{
    position: relative;
    background-image: linear-gradient(to left, #DD00FF 50%, #670aa5 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--clr-white1);
    border-radius: 1rem;
    width: min(700px, 95%);
    max-width: 100%;
    height: clamp(100px, 50vh, 300px);
}

.container1{
    display: flex;
    width: 100%;
    height: 90%;
    margin: 1rem;
    gap: 1rem;
}

.createRev_btn, .review_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 1rem;
    cursor: pointer;

    transition: background-color 0.8s ease;
}

.createRev_btn h5, .review_btn h5{
    transition: font-size 0.25s ease, font-weight 0.25s ease,;
}

.createRev_btn:hover h5, .review_btn:hover h5{
    font-size: 1.25rem;
    font-weight: 9000;
}

.createRev_btn:hover, .review_btn:hover{
    font-weight:lighter;
    background-color: rgba(0, 0, 0, 0.2);
}

.createRev_svg{
    width: 40%;
    height: 40%;

}

.review_svg{
    width: 40%;
    height: 40%;
}
/* --------TEXT AREA----------- */

.input_rev{
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: row-reverse;
    width: 0;
    height: 0;
    
    padding: 1rem;
    gap: 1rem;

    transition: opacity 2s ease, transform 2s ease;
} .input_rev.inputRevFade{
    opacity: 1;
    width: min(700px, 95%);
    max-width: 100%;
    height: clamp(100px, 50vh, 300px);
    border: solid 5px black;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
}

.textInput{
    width: 70%;
} .textInput.textInputToggle{
    width: 70%;
    height: 100%;
    display: inline-block;
} .textInput.textInputToggleClose{
    width: 0;
    height: 0;
    display: none;
}

.inputRev_btns{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 0.5rem;
}

.save_btn{
    opacity: 0;
    height: 0;
    display: none;
    cursor: pointer;
}

.clip_btn, .closeInputRev_btn{
    height: 30px;
    opacity: 0;
    cursor: pointer;
} .clip_btn.clipButtonFade, .closeInputRev_btn.clipButtonFade{
    opacity: 1;
}

.clip_area .word-btn{
    cursor: pointer;
} .word-btn.selected{
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.2);
} .clip_area.clipAreaToggle{
    width: 100%;
    height: 100%;
    border: solid 2px black;
} .clip_area.clipAreaToggleOff{
    width: 0px;
    border: none;
}

/* --------------------REVIEW SECTION---------------- */

.start_review{
    position: absolute;
    
    flex-direction: column;
    align-items: center;
    opacity: 0;
    width: 0%;
    height: 0%;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);

    transition: opacity 2s ease, transform 2s ease;
} .start_review.startRevFade{
    z-index: 2;
    opacity: 1;
    width: clamp(320px, 95vw, 1000px);
    height: clamp(120px, 95vh, 700px);;
    border: solid 5px white;
}

.head_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
    height: 20%;
}
.progress-info{
    font-size: 1.5rem;
}

.question_area{
    hyphens: auto;
    align-items: center;
    text-indent: 1rem;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 90%;
    height: 90%;
    font-size: 2.5rem;
    border: solid 2px black;
}

.closeStartReview_btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 95%;
    bottom: 91%;
    width: 50px;
    height: 50px;
    border: solid 2px black;
}

.paragraphQuestion{
    font-size: 3rem;
}

.guessInput{
    background-color: transparent;
    color: white;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-bottom: 2px solid black;
    box-shadow: none;
    font-size: 2.5rem;

    padding: 0;
    width: 300px;
    height: 50px;
}

.next_skip_btn{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.next_question, .skip_question{
    cursor: pointer;
    font-size: 1.5em;
    width: 100px;
    height: 60px;
    margin: 1rem;
}

.saved_notes_container{
    z-index: 1;
    opacity: 0;
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    width: 0px;
    height: 0px;
    border: solid 5px white;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1); 

    transition: opacity ease 0.5s;
} .saved_notes_container.SavedNotesContainerToggle{
    opacity: 1;
    display: flex;
    width: min(800px, 95%);
    max-width: 100%;
    height: min(600px, 90vh);
    overflow: auto;
} .saved_notes_container.SavedNotesContainerClose{
    width: 0px;
    height: 0px;
    height: 0px;
    opacity: 0;
}

.saved_notes_head{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deleteParagraph_btn, .closeSavedNotes_btn{
    cursor: pointer;
    width: clamp(10px, 10vw, 30px);
    height: clamp(10px, 10vh, 30px);

    transition: transform ease 0.2s;
} .deleteParagraph_btn:hover, .closeSavedNotes_btn:hover{
    fill: var(--clr-secondary);
    transform: scale(1.1);
}


.saved_notes{
    width: 100%;
    height: 100%;
    border: solid black 2px;
    padding: 0.4rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ------------------------OPTION SECTION---------------------------- */

.option_section{
    width: min(700px, 95%);
    max-width: 100%;
    height: auto;
    padding: 0.5rem;
}

.saved_notes_btn{
    width: 25%;
    height: 30%;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.paragraph_list{
    width: 99%;
    height: 50px;
    margin: 0.4rem;
    padding: 0.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: auto;
} .paragraph_list:hover{
    background-color: whitesmoke;
} .paragraph_list.markAsCheck{
    border: solid var(--clr-secondary) 3px;
    text-decoration: line-through;
}

.selectedWord{
    color: var(--clr-base);
    border: solid black 1px;
}
/* ------------------------MEDIA QUERIES---------------------------- */

@media screen and (max-width: 768px) {

    .input_rev{
        flex-direction: column;
        align-items: center;
    }

    .input_rev.inputRevFade{
        width: clamp(100px, 90vw, 800px);
        height: clamp(200px, 100vh, 500px);
        border: solid 5px black;
        border-radius: 1rem;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.1);
    }

    .textInput{
        width: 100%;
        height: 100%;
    } .textInput.textInputToggle{
        width: 100%;
        height: 100%;
        display: inline-block;
    } .textInput.textInputToggleClose{
        width: 0;
        height: 0;
        display: none;
    }

    .clip_area{
        width: 100%;
    }

    .question_area{
        font-size: 1.5;
    }
    .guessInput{
        font-size: 1.5rem;
        width: 150px;
        height: 25px;
    }

    /* BUTTONS */

    .closeStartReview_btn{
        width: clamp(10px, 10vw, 50px);
        height: clamp(10px, 10vw, 50px);
    }

}

@media screen and (max-width: 480px) { 

    .progress-info{
        font-size: 1rem;
    }
     .guessInput{
        font-size: 1rem;
        width: 150px;
        height: 25px;
    }
}

@media screen and (max-width: 250px) {
    body{
        min-width: 320px;
        min-height: 300px;
    }
}